<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
<add key='Username' value='Hotshot'/>
<add key='Password' value='abc'/>
<add key='Name' value='d'/>
<add key='Email' value='d@gmail.com'/>
<add key='Phone' value='111-111-1111'/>
<add key='Address' value='111 e 5th street, NV,   57532'/>
<add key='Card' value='1111-1111-1111-1111'/>
<add key='Balance' value='20'/>
<add key='Win' value='1'/>
<add key='Lose' value='5'/>
<add key='PlayerScore' value='6'/>
<add key='PlayerAce' value='0'/>
<add key='PlayerCard0' value='..\..\card-BMPs\3_of_diamonds.bmp'/>
<add key='PlayerCard1' value='..\..\card-BMPs\3_of_hearts.bmp'/>
<add key='PlayerCardCount' value='2'/>
<add key='DealerScore' value='18'/>
<add key='DealerAce' value='0'/>
<add key='DealerCard0' value='..\..\card-BMPs\8_of_hearts.bmp'/>
<add key='DealerCard1' value='..\..\card-BMPs\king_of_diamonds.bmp'/>
<add key='DealerCardCount' value='2'/>
</appSettings>
</configuration>
