<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
<add key='Username' value='Jordan'/>
<add key='Password' value='Password1!'/>
<add key='Name' value='Jordan VanOort'/>
<add key='Email' value='jvanoort@gmail.com'/>
<add key='Phone' value='111-222-3333'/>
<add key='Address' value='12 washington ave., SD,  12345'/>
<add key='Card' value='1111-2222-3333-4444'/>
<add key='Balance' value='0'/>
<add key='Win' value='2'/>
<add key='Lose' value='3'/>
<add key='PlayerScore' value='24'/>
<add key='PlayerAce' value='0'/>
<add key='PlayerCard0' value='..\..\card-BMPs\9_of_hearts.bmp'/>
<add key='PlayerCard1' value='..\..\card-BMPs\5_of_diamonds.bmp'/>
<add key='PlayerCard2' value='..\..\card-BMPs\jack_of_diamonds.bmp'/>
<add key='PlayerCardCount' value='3'/>
<add key='DealerScore' value='17'/>
<add key='DealerAce' value='0'/>
<add key='DealerCard0' value='..\..\card-BMPs\6_of_clubs.bmp'/>
<add key='DealerCard1' value='..\..\card-BMPs\king_of_diamonds.bmp'/>
<add key='DealerCard2' value='..\..\card-BMPs\ace_of_diamonds.bmp'/>
<add key='DealerCardCount' value='3'/>
</appSettings>
</configuration>
